
body {
    background-image: url('dalelands-vista.jpg');
}

.title {
    font-family:cursive;
    color: #ddd;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
    padding: 0px;
    margin: 10px;
    background-color: #667b68;
    outline: 3px double;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #a3b899;
  overflow: hidden;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  width: 20%;
  padding: 5px 0px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #667b68;
  color: white;
}