
body {
    background-image: url('images/dalelands-vista.jpg');
}

.title {
    font-family:cursive;
    color: #a3b899;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    padding: 0px;
    margin: 10px;
    font-size: 3.5em;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #a3b899;
  overflow: hidden;
  width: 100%;
  font-family:monospace;
  border-radius: 10px 10px 0px 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  width: 20%;
  padding: 10px 0px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px 10px 0px 0px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #667b68;
  color: white;
}

/* add main body of index.html */
.main {
  background-color: #667b68;
  color: #ddd;
  font-family:monospace;
  padding-bottom: 25px;
  border-radius: 0px 0px 10px 10px;
}

/* remove margins */
h1{
  margin: 0px;
  padding: 25px 25px 10px;
}

h3{
  margin: 15px 0px 15px;
}

.recap {
  margin: 0px;
  padding-left: 25px;
  padding-right: 25px;

}

footer {
  background-color: #a3b899;
  margin: 15px 0px 0px 0px;
  padding: 0px;
  color:  #a3b899;
}